In [1]:
import pandas as pd
import numpy as np
import joblib

In [2]:
with open('model_decision_tree_grid_search.pkl', 'rb') as file_2:
    grid_search_dt = joblib.load(file_2)

with open('numeric_features.txt', 'rb') as file_3:
    numeric_features = joblib.load(file_3)

%run new_column_function.py

In [3]:
df=pd.read_csv("inf.csv")
df

,limit_balance,sex,education_level,marital_status,age,pay_0,pay_2,pay_3,pay_4,pay_5,...,bill_amt_4,bill_amt_5,bill_amt_6,pay_amt_1,pay_amt_2,pay_amt_3,pay_amt_4,pay_amt_5,pay_amt_6,default_payment_next_month
0,260000,2,3,2,49,-2,-2,-2,-2,-2.0,...,2735,316,305,217773,200304,2759,316,305,2596,0
1,420000,1,2,1,36,0,0,0,0,0.0,...,22304,28465,38182,15005,10013,10000,10000,20000,20000,0
2,300000,1,1,2,25,0,0,0,0,0.0,...,19507,18169,18533,4103,1427,600,1200,2500,18000,0
3,170000,2,1,2,29,0,0,0,0,0.0,...,66496,36000,25167,3600,3000,4710,1500,1000,1000,0
4,50000,1,2,2,28,-1,2,-1,0,0.0,...,937,-3,894,0,3141,2,0,897,906,0
5,240000,2,2,1,41,1,-1,-1,-1,-1.0,...,9795,11756,12522,40529,3211,9795,11756,12522,6199,0
6,130000,2,2,2,31,0,0,0,0,0.0,...,103750,105818,98401,4000,5300,3700,3600,3700,3500,0
7,100000,1,2,2,30,-2,-2,-2,-2,-2.0,...,0,1756,0,1475,0,0,1756,0,0,0
8,30000,2,2,2,22,-1,0,-1,-1,-1.0,...,3312,3145,3022,1009,5572,3321,3154,3031,3339,0
9,450000,2,3,2,40,-1,-1,-1,-1,0.0,...,14602,18065,19239,26731,55367,15174,10528,10037,48551,0
10,190000,1,1,1,37,0,0,0,0,0.0,...,29223,19616,148482,2000,3869,25128,10115,148482,4800,0
11,100000,2,1,2,28,0,0,0,2,0.0,...,10775,10998,12655,1300,3005,0,700,2000,1500,0
12,90000,1,1,2,26,1,2,2,0,0.0,...,41539,39373,32080,3006,99,1500,1500,2015,1200,0
13,80000,1,1,1,46,0,0,0,0,0.0,...,29537,29758,30153,2435,1463,1039,1068,1267,1000,0
14,230000,2,3,2,42,1,-2,-1,-1,-1.0,...,0,2600,3007,0,324,0,2600,3407,200,1
15,70000,1,2,2,45,1,2,2,2,2.0,...,12358,11865,11975,0,3000,600,0,450,500,0
16,220000,2,2,2,28,0,0,0,2,0.0,...,97577,98583,99708,4319,5419,3000,3501,3629,7442,0
17,220000,2,1,1,32,1,2,2,2,2.0,...,209612,219064,222672,0,16501,3200,13000,7500,0,0
18,80000,2,2,2,24,2,0,0,0,0.0,...,58886,60035,57264,3249,3000,5000,2500,2300,2200,0
19,230000,2,1,1,38,0,-1,-1,-1,-1.0,...,316,316,316,316,1156,316,316,316,316,0
20,50000,1,1,2,26,-1,0,0,0,0.0,...,19588,20024,18694,1629,1272,656,706,954,700,0
21,160000,2,2,1,35,0,0,0,0,0.0,...,4596,4635,2744,2000,1000,500,1000,1000,2000,0
22,180000,2,2,1,41,0,0,0,0,0.0,...,111328,113890,116823,6411,6000,5000,4500,5000,4200,0
23,50000,1,1,2,26,0,0,0,0,0.0,...,28390,29443,29041,1477,1444,1100,1500,1100,967,0
24,170000,2,2,1,52,0,0,0,0,0.0,...,119844,117944,118163,6791,7333,4218,4269,4481,4144,0
25,230000,2,1,2,28,0,0,0,0,0.0,...,99283,97599,96116,120093,8034,3013,4010,5882,3000,0
26,260000,1,1,1,41,-2,-2,-1,0,0.0,...,45087,47201,46199,3552,38836,20000,15000,15000,10000,0
27,300000,2,3,1,39,-1,-1,-2,-2,-2.0,...,0,0,0,0,0,0,0,0,0,0
28,290000,2,2,1,53,-1,-1,-1,-1,-1.0,...,1017,3798,4898,199,1440,1017,3798,4898,5034,0
29,200000,1,1,1,31,0,0,0,0,0.0,...,109447,75423,22919,6036,4002,4005,3002,1002,1002,0

In [4]:
total_pay(df)
last_bill(df)
pay_ratio(df)
add_credit_limit_category(df, 'limit_balance')

,limit_balance,sex,education_level,marital_status,age,pay_0,pay_2,pay_3,pay_4,pay_5,...,pay_amt_2,pay_amt_3,pay_amt_4,pay_amt_5,pay_amt_6,default_payment_next_month,total_pay,last_bill,pay_ratio,credit_limit_category
0,260000,2,3,2,49,-2,-2,-2,-2,-2.0,...,200304,2759,316,305,2596,0,424053,-5684,1.652835,3
1,420000,1,2,1,36,0,0,0,0,0.0,...,10013,10000,10000,20000,20000,0,85018,56068,0.068929,3
2,300000,1,1,2,25,0,0,0,0,0.0,...,1427,600,1200,2500,18000,0,27830,76918,-0.163627,3
3,170000,2,1,2,29,0,0,0,0,0.0,...,3000,4710,1500,1000,1000,0,14810,90450,-0.444941,2
4,50000,1,2,2,28,-1,2,-1,0,0.0,...,3141,2,0,897,906,0,4946,2809,0.042740,0
5,240000,2,2,1,41,1,-1,-1,-1,-1.0,...,3211,9795,11756,12522,6199,0,84012,0,0.350050,3
6,130000,2,2,2,31,0,0,0,0,0.0,...,5300,3700,3600,3700,3500,0,23800,97544,-0.567262,1
7,100000,1,2,2,30,-2,-2,-2,-2,-2.0,...,0,0,1756,0,0,0,3231,914,0.023170,1
8,30000,2,2,2,22,-1,0,-1,-1,-1.0,...,5572,3321,3154,3031,3339,0,19426,2293,0.571100,0
9,450000,2,3,2,40,-1,-1,-1,-1,0.0,...,55367,15174,10528,10037,48551,0,166388,5453,0.357633,3
10,190000,1,1,1,37,0,0,0,0,0.0,...,3869,25128,10115,148482,4800,0,194394,21628,0.909295,2
11,100000,2,1,2,28,0,0,0,2,0.0,...,3005,0,700,2000,1500,0,8505,10886,-0.023810,1
12,90000,1,1,2,26,1,2,2,0,0.0,...,99,1500,1500,2015,1200,0,9320,58518,-0.546644,1
13,80000,1,1,1,46,0,0,0,0,0.0,...,1463,1039,1068,1267,1000,0,8272,78861,-0.882363,1
14,230000,2,3,2,42,1,-2,-1,-1,-1.0,...,324,0,2600,3407,200,1,6531,0,0.028396,2
15,70000,1,2,2,45,1,2,2,2,2.0,...,3000,600,0,450,500,0,4550,9728,-0.073971,1
16,220000,2,2,2,28,0,0,0,2,0.0,...,5419,3000,3501,3629,7442,0,27310,94311,-0.304550,2
17,220000,2,1,1,32,1,2,2,2,2.0,...,16501,3200,13000,7500,0,0,40201,202792,-0.739050,2
18,80000,2,2,2,24,2,0,0,0,0.0,...,3000,5000,2500,2300,2200,0,18249,79243,-0.762425,1
19,230000,2,1,1,38,0,-1,-1,-1,-1.0,...,1156,316,316,316,316,0,2736,12907,-0.044222,2
20,50000,1,1,2,26,-1,0,0,0,0.0,...,1272,656,706,954,700,0,5917,18017,-0.242000,0
21,160000,2,2,1,35,0,0,0,0,0.0,...,1000,500,1000,1000,2000,0,7500,17742,-0.064012,2
22,180000,2,2,1,41,0,0,0,0,0.0,...,6000,5000,4500,5000,4200,0,31111,139184,-0.600406,2
23,50000,1,1,2,26,0,0,0,0,0.0,...,1444,1100,1500,1100,967,0,7588,28408,-0.416400,0
24,170000,2,2,1,52,0,0,0,0,0.0,...,7333,4218,4269,4481,4144,0,31236,168516,-0.807529,2
25,230000,2,1,2,28,0,0,0,0,0.0,...,8034,3013,4010,5882,3000,0,144032,30141,0.495178,2
26,260000,1,1,1,41,-2,-2,-1,0,0.0,...,38836,20000,15000,15000,10000,0,102388,1086,0.389623,3
27,300000,2,3,1,39,-1,-1,-2,-2,-2.0,...,0,0,0,0,0,0,0,1117,-0.003723,3
28,290000,2,2,1,53,-1,-1,-1,-1,-1.0,...,1440,1017,3798,4898,5034,0,16386,1538,0.051200,3
29,200000,1,1,1,31,0,0,0,0,0.0,...,4002,4005,3002,1002,1002,0,19049,160292,-0.706215,2

In [5]:
inf= df[numeric_features]

In [6]:
grid_search_dt.predict(inf)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0])